.build
MYMETA.json
MYMETA.yml
Makefile
Makefile.old
PDL-NDBin-*.*
blib
cover_db
nytprof*
pm_to_blib
pp/Actions/Actions_PP.bs
pp/Actions/Actions_PP.c
pp/Actions/Actions_PP.o
pp/Actions/Actions_PP.pm
pp/Actions/Actions_PP.xs
pp/Actions/pp-*
pp/Utils/Utils_PP.bs
pp/Utils/Utils_PP.c
pp/Utils/Utils_PP.o
pp/Utils/Utils_PP.pm
pp/Utils/Utils_PP.xs
pp/Utils/pp-*
xs/Iterator.bs
xs/Iterator.c
xs/Iterator.o
